@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button-neutral {
  color: #2D3440;
  background-color: #ffffff;
}

.button-bright {
  color: #fcfcfc;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #ffffff;
}

.input-text::placeholder {
  color: #b9b9b9;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.pop-up {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

/* html {
  height: 100%;
}
*/

body {
  /* min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: #feafc3;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: transparent;
  text-decoration: none;
}

.navigation-subdirectory {
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.navigation-subdirectory-title {
  font-weight: 700;
}

.navigation-subdirectory-link {
  color: #2D3440;
  text-decoration: none;
}

.header-phone {
  color: #2D3440;
  text-decoration: none;
}

.open-button {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 30px;
}

.open-search {
  border-radius: 27px;
}

.personal-account-link {
  color: #2D3440;
  text-decoration: none;
}

.open-cart {
  background-color: transparent;
}

.cart-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-description {
  color: #B9B9B9;
}

.cart-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.slider-item-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-item-description {
  font-size: 18px;
  line-height: 24px;
}

.socials-link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-telegram {
  background-image: url("../images/socials/telegram-icon.svg");
}

.socials-vk {
  background-image: url("../images/socials/vk-icon.svg");
}

.socials-youtube {
  background-image: url("../images/socials/youtube-icon.svg");
}

.offer {
  background-color: #FF7799;
  border-radius: 16px;
  background-position: right;
  background-repeat: no-repeat;
}

.offer-raspberry {
  background-image: url("../images/offers-raspberry.png");
}

.offer-sugar {
  background-image: url("../images/offers-sugar.png");
}

.offer-description {
  font-size: 16px;
  line-height: 22px;
}

.product-item {
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-title {
  text-align: center;
}

.product-description {
  text-align: center;
}

.blog {
  background-color: #ffffff;
  background-image: url("../images/blog-background.png");
  background-repeat: no-repeat;
  background-position: right;
}

.blog-title {
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.blog-link {
  color: #2D3440;
  text-decoration: none;
}

.subscribe {
  width: 570px;
  padding: 6px;
  background-image: repeating-linear-gradient(135deg, #ff2f64 0, #ff2f64 10px, #edf1f5 10px, #edf1f5 28px, #69a9ff 28px, #69a9ff 38px, #edf1f5 38px, #edf1f5 56px);
}

.subscribe-wrapper {
  background-color: #ffffff;
}

.delivery {
  background-color: #f6f6f6;
  background-image: url("../images/delivery-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.delivery-form {
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-container {
  font-style: normal;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-phone {
  color: #2D3440;
  text-decoration: none;
}

.contacts-text-additional {
  color: #565c66;
}

.footer-navigation-link {
  color: #2D3440;
  text-decoration: none;
}

.footer-navigation-link-accentuated {
  font-weight: 700;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: #2D3440;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: underline;
}

.filter-select {
  font: inherit;
  line-height: inherit;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.filter-range {
  background-color: rgba(252, 252, 252, 0.3);
}

.filter-list {
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  list-style-type: none;
}

.filter-button {
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination-link-current {
  background-color: #fcfcfc;
  border-radius: 50px;
}
