@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  background-color: #feafc3;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 35px;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  display: inline-flex;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 26px;
  border: none;
}

.button-neutral {
  color: #2d3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-bright {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.input {
  padding: 13px 15px;
  background-color: #ffffff;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #ffffff;
}

.input-text::placeholder {
  color: #b9b9b9;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.header-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.page-header-wrapper {
  display: grid;
  grid-template-columns: 710px 431px;
  gap: 30px;
  padding: 24px 0;
}

.main-navigation {
  display: grid;
  grid-template-columns: 137px 1fr;
  gap: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: inline-flex;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.navigation-button {
  font-family: inherit;
  padding-right: 38px;
  border: none;
  background-color: transparent;
}

.navigation-catalog {
  position: relative;
}

.navigation-catalog-list {
  left: 0;
  width: 135px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.navigation-catalog:focus-within .navigation-catalog-list {
  display: block;
}

.navigation-catalog-accentuated {
  font-weight: 700;
}

.navigation-catalog-link {
  color: #2d3440;
  text-decoration: none;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 12px -16px 12px 0;
}

.header-wrapper-item {
  margin: 0 16px 15px 0;
  position: relative;
}

.phone-wrapper {
  margin-top: 6px;
  max-width: 148px;
}

.header-phone {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.header-phone:not(:last-child) {
  margin-bottom: 10px;
}

.search-form {
  width: 356px;
}

.search-wrapper:focus-within .search-form {
  display: block;
}

.open-button {
  font: inherit;
  line-height: inherit;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 30px;
}

.open-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 27px;
}

.open-personal-account {
  padding: 6px 16px 6px 17px;
}

.open-icon {
  padding-top: 3px;
}

.personal-account {
  width: 420px;
}

.personal-account-wrapper:focus-within .personal-account {
  display: block;
}

.personal-account-link {
  color: #2d3440;
  text-decoration: none;
}

.cart-full {
  width: 441px;
}

.cart-empty {
  width: 288px;
}

.cart-wrapper:focus-within .cart-current {
  display: block;
}

.open-cart {
  padding: 6px 16px;
}

.cart-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-description {
  color: #B9B9B9;
}

.cart-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.slider {
  margin-bottom: 82px;
}

.slider-wrapper {
  position: relative;
}

.slider-list {
  display: flex;
  gap: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.slider-item {
  width: 100px;
  flex-shrink: 0;
}

.slider-item-active {
  width: 888px;
  order: -2;
}

.slider-item-active + .slider-item {
  order: -1;
}

.slider-content {
  display: none;
  padding: 117px 0 80px 70px;
}

.slider-item-active {
  display: grid;
  grid-template-columns: 510px 348px;
  gap: 30px;
}

.slider-item-active .slider-content {
  display: block;
}

.slider-item-active .slider-image-wrapper {
  transform: scale(1);
}

.slider-item-active .slider-image-wrapper::before {
  transform: translate(-49%, -54%) scale(1);
}

.slider-item-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-item-description {
  margin: 0 20px 20px 0;
  font-size: 18px;
  line-height: 24px;
}

.slider-item-button {
  margin: 0 30px 30px 0;
}

.slider-item-description:last-of-type {
  margin-bottom: 48px;
}

.slider-image-wrapper {
  align-self: flex-start;
  position: relative;
  transform: scale(0.3);
  display: flex;
  justify-content: center;
}

.slider-image-wrapper::before {
  position: absolute;
  content: "";
  top: 53%;
  left: 50%;
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: -1;
}

.slider-image {
  display: block;
  margin: 0 auto;
  max-width: none;
}

.slider-controls {
  position: absolute;
  top: 240px;
  left: 542px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 38px;
  height: 38px;
}

.slider-footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 15px 0 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 100px;
}

.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slider-socials-list {
  max-width: 300px;
  margin: 0 -16px -10px auto;
  justify-content: flex-end;
}

.socials-item {
  margin: 0 12px 10px 4px;
}

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-telegram {
  background-image: url("../images/socials/telegram-icon.svg");
}

.socials-vk {
  background-image: url("../images/socials/vk-icon.svg");
}

.socials-youtube {
  background-image: url("../images/socials/youtube-icon.svg");
}

.offer {
  align-items: flex-start;
}

.offers {
  margin-bottom: 81px;
}

.offers-title {
  width: 450px;
  margin: 0 auto 55px auto;
  text-align: center;
}

.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 36px 206px 36px 36px;
  background-color: #ff7799;
  border-radius: 16px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.offer-raspberry {
  background-image: url("../images/offers-raspberry.png");
}

.offer-sugar {
  background-image: url("../images/offers-sugar.png");
}

.offer-title {
  margin: 0 0 28px 0;
}

.offer-description {
  margin: 0 0 28px 0;
  font-size: 16px;
  line-height: 22px;
}

.offer-button {
  margin: auto 30px 0 0;
}

.offer-button:not(:last-child) {
  margin-bottom: 30px;
}

.favorites {
  margin-bottom: 80px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.favorites-title {
  width: 530px;
  margin: 0 auto 56px auto;
  text-align: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 40px 24px 40px;
}

.product-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 51px);
  background-color: #fcfcfc;
  border-radius: 8px;
  z-index: -1;
}

.product-photo {
  margin-bottom: 16px;
  align-self: center;
  border-radius: 50%;
}

.product-title {
  margin: 0 0 8px 0;
  text-align: center;
}

.product-description {
  margin: 0 0 16px 0;
  text-align: center;
}

.product-wrapper {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}

.product-price {
  margin-bottom: 4px;
  max-width: 135px;
}

.product-button {
  margin-left: auto;
  padding: 9px 10px 9px 8px;
  width: 32px;
  height: 32px;
  color: #ffffff;
  background-color: #FF2F64;
  border: none;
  border-radius: 26px;
  flex-grow: 0;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-wrapper {
  padding: 24px;
  background-image: url("../images/advantages-background.png");
  background-repeat: repeat;
  background-position: top;
  border-radius: 16px;
}

.advantages-content {
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages-title {
  width: 1000px;
  margin: 0 auto 56px auto;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px 31px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
  padding-left: 64px;
}

.advantages-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.advantages-item-ice-creme::before {
  background-image: url("../images/advantages-ice-creme.svg");
}

.advantages-item-cow::before {
  background-image: url("../images/advantages-cow.svg");
}

.advantages-item-leaf::before {
  background-image: url("../images/advantages-leaf.svg");
}

.advantages-item-thermometer::before {
  background-image: url("../images/advantages-thermometer.svg");
}

.blog-subscribe-container {
  margin-bottom: 80px;
}

.blog-subscribe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: flex-start;
}

.blog {
  padding: 33px 230px 57px 32px;
  background-color: #ffffff;
  background-image: url("../images/blog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.blog-title {
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.blog-link {
  display: block;
  margin: 0 0 12px 0;
  color: #2d3440;
  text-decoration: none;
}

.subscribe {
  width: 570px;
  padding: 6px;
  background-image: repeating-linear-gradient(131deg, #ff2f64 0, #ff2f64 10px, #edf1f5 10px, #edf1f5 24px, #69a9ff 24px, #69a9ff 32px, #edf1f5 33px, #edf1f5 47px);
  border-radius: 16px;
}

.subscribe-wrapper {
  padding: 26px 26px 28px 26px;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-description {
  margin: 0 0 44px 0;
}

.subscribe-label {
  margin-right: 14px;
}

.subscribe-input-email {
  width: 332px;
}

.button-subscribe {
  padding: 12px 30px;
}

.delivery {
  margin-bottom: 80px;
}

.delivery-wrapper {
  display: grid;
  grid-template-columns: 375px 500px;
  gap: 131px;
  padding: 64px 64px 64px 100px;
  background-color: #f6f6f6;
  background-image: url("../images/delivery-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 16px;
}

.delivery-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 0;
}

.delivery-title {
  margin: 0 0 24px 0;
}

.delivery-description {
  margin: 0;
}

.delivery-form {
  align-self: end;
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form-description {
  margin: 0 0 32px 0;
}

.delivery-form-wrapper {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 16px;
  align-items: end;
  margin-bottom: 20px;
}

.delivery-form input {
  width: 100%;
}

.delivery-label-text {
  display: block;
  margin-bottom: 8px;
}

.delivery-address {
  display: block;
  margin-bottom: 10px;
}

.delivery-address:last-of-type {
  margin-bottom: 29px;
}

.button-delivery {
  display: block;
  margin: 0 auto;
}

.contacts-wrapper {
  position: relative;
  padding: 64px 763px 64px 64px;
  min-height: 492px;
  border-radius: 16px;
  overflow: hidden;
}

.contacts-container {
  padding: 40px;
}

.contacts-container {
  font-style: normal;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-text {
  margin: 0 0 12px 0;
}

.contacts-address {
  margin: 0 0 24px 0;
}

.contacts-phone {
  display: block;
  margin: 0;
  color: #2d3440;
  text-decoration: none;
}

.contacts-phone + .contacts-phone {
  margin-top: 5px;
}

.contacts-text-additional {
  margin: 0;
  color: #565c66;
}

.contacts-container p:last-of-type {
  margin-bottom: 32px;
}

.contacts-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.page-footer {
  margin-top: auto;
}

.page-footer-wrapper {
  display: grid;
  grid-template-columns: 255px 408px 193px;
  gap: 150px;
  align-items: start;
  padding: 48px 0;
}


.footer-navigation {
  padding-left: 26px;
  display: grid;
  grid-template-columns: 130px 200px;
  gap: 8px 20px;
}

.footer-navigation-title {
  margin: 0;
  font-weight: 700;
  font-size: inherit;
}

.footer-navigation-link {
  color: #2d3440;
  text-decoration: none;
}

.copyright-logo-link {
  display: block;
  margin-bottom: 9px;
}

.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  text-underline-offset: 3px;
  text-decoration-color: rgba(45, 52, 64, 0.5);
  color: #2d3440;
}

.modal-close {
  display: none;
}

.catalog-title-wrapper {
  padding-top: 14px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 8px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin: 0 8px 8px 0;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-link-current {
  text-decoration: solid underline 1px;
  text-underline-offset: 4px;
}

.catalog-title {
  margin: 0;
}

.catalog-products {
  margin-bottom: 40px;
}

.catalog-products-wrapper {
  position: relative;
}

.catalog-products-wrapper::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 32px;
}

.filter-group {
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}

.filter-title {
  margin: 0 0 8px 16px;
}

.filter-select {
  font: inherit;
  padding: 8px 30px 8px 16px;
  line-height: inherit;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
}

.filter-range {
  background-color: rgba(252, 252, 252, 0.3);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  list-style-type: none;
}

.filter-item:not(:last-child) {
  margin-right: 16px;
}

.filter-control {
  display: flex;
}

.control-mark {
  display: block;
  margin-right: 8px;
}

.control-mark-radio {
  width: 6px;
  height: 6px;
  outline: 1.5px solid #2d3440;
  outline-offset: 4px;
  border-radius: 50%;
}

.radio-input:checked + .control-mark-radio {
  background-color: #2d3440;
}

.filter-button {
  margin: 0 24px 16px 0;
  padding: 8px 32px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

.catalog-products-list {
  margin-bottom: 16px;
}

.catalog-products-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 41px 0 21px 487px;
}

.button-more {
  margin: 0 20px 20px 0;
  max-width: 250px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 400px;
  margin: 0 0 12px auto;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-button {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right 3px center;
}

.pagination-prev {
  transform: rotate(180deg);
}

.pagination-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  padding: 2px 4px;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.pagination-link-current {
  background-color: #fcfcfc;
  border-radius: 50px;
}
